<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastrar Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Insira os Dados dos Clientes</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <!-- Input de Nome  -->
        <ion-item>
          <ion-input
            label="Nome do Cliente"
            labelPlacement="floating"
            placeholder="Digite o Nome do Cliente"
          ></ion-input>
        </ion-item>

        <!-- Input de CPF  -->
        <ion-item>
          <ion-input
            label="CPF do Cliente"
            labelPlacement="floating"
            placeholder="Digite o CPF do Cliente"
          ></ion-input>
        </ion-item>

        <!-- Input de Telefone  -->
        <ion-item>
          <ion-input
            label="Telefone do Cliente"
            labelPlacement="floating"
            placeholder="Digite o Telefone do Cliente"
          ></ion-input>
        </ion-item>

        <!-- Botão de Cadastrar  -->
        <ion-button expand="block">Cadastrar Cliente</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
