<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Cadastre o Cliente</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="clienteForm" (ngSubmit)="cadastrarCliente()">
          <ion-item>
            <ion-input
              label="Nome"
              formControlName="nome"
              type="text"
              placeholder="Digite o nome do cliente"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              label="CPF/CNPJ"
              formControlName="cpfCnpj"
              type="text"
              placeholder="Digite o CPF ou CNPJ do cliente"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              label="Telefone"
              formControlName="telefone"
              type="text"
              placeholder="Digite o telefone do cliente"
            ></ion-input>
          </ion-item>

          <ion-button expand="block" type="submit"
            >Cadastrar Cliente</ion-button
          >
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
