ion-card {
  margin-top: 1.25rem;
}

// Titulo do Card
ion-card-title {
  text-align: center;
  margin: 1.25rem auto;
}

// Botão de Cadastrar
ion-button {
  margin: 2.5rem auto 0.9375rem auto;
  width: 70%;
}
