<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar de Vendas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Preencha os Dados Abaixo</ion-card-title>
    </ion-card-header>

    <form [formGroup]="vendaForm">
      <!-- Data da Compra -->
      <ion-item>
        <ion-label position="floating">Data da Venda</ion-label>
        <ion-input
          type="date"
          formControlName="dataCompra"
          aria-label="Data da Compra"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>

      <!-- Hora da Compra -->
      <ion-item>
        <ion-label position="floating">Hora da Venda</ion-label>
        <ion-input
          type="time"
          formControlName="horaCompra"
          aria-label="Hora da Compra"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>

      <!-- Nome do Cliente -->
      <ion-item>
        <ion-select
          formControlName="cliente"
          label="Cliente"
          placeholder="Cliente"
        >
          <ion-select-option value="1">Cliente 01</ion-select-option>
          <ion-select-option value="2">Cliente 02</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Placa do Carro  -->
      <ion-item>
        <ion-select
          formControlName="placaCarro"
          label="Placa do Carro"
          placeholder="Placa do Carro"
        >
          <ion-select-option value="1">NVN9654</ion-select-option>
          <ion-select-option value="2">WWA9865</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Tipo -->
      <ion-item>
        <ion-select
          formControlName="tipoVeiculo"
          label="Tipo do Veículo"
          placeholder="Tipo"
        >
          <ion-select-option value="1">Toco</ion-select-option>
          <ion-select-option value="2">Truck</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Material  -->
      <ion-item>
        <ion-select
          formControlName="material"
          label="Selecione o Material"
          placeholder="Material"
        >
          <ion-select-option value="1">Tijolos</ion-select-option>
          <ion-select-option value="2">Telhas Cerâmicas</ion-select-option>
          <ion-select-option value="3">Areia</ion-select-option>
          <ion-select-option value="4">Brita</ion-select-option>
          <ion-select-option value="5">Cerâmicas</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Total de Venda  -->
      <ion-item>
        <ion-input
          type="number"
          formControlName="totalVenda"
          label="Total da Venda"
          labelPlacement="floating"
          placeholder="R$"
        ></ion-input>
      </ion-item>

      <!-- Formas de Pagamento -->
      <div class="container-payment">
        <ion-title>Formas de Pagamento</ion-title>
        <ion-item class="payment">
          <ion-label>Pix</ion-label>
          <ion-checkbox
            slot="end"
            formControlName="pixSelecionado"
            aria-label="Pix"
          ></ion-checkbox>
        </ion-item>
        <ion-item
          *ngIf="vendaForm?.get('pixSelecionado')?.value"
          class="payment-input"
        >
          <ion-input
            type="number"
            placeholder="Valor do Pix"
            formControlName="valorPix"
          ></ion-input>
        </ion-item>

        <ion-item class="payment">
          <ion-label>Dinheiro</ion-label>
          <ion-checkbox
            slot="end"
            formControlName="dinheiroSelecionado"
            aria-label="Dinheiro"
          ></ion-checkbox>
        </ion-item>
        <ion-item
          *ngIf="vendaForm?.get('dinheiroSelecionado')?.value"
          class="payment-input"
        >
          <ion-input
            type="number"
            placeholder="Valor em Dinheiro"
            formControlName="valorDinheiro"
          ></ion-input>
        </ion-item>

        <ion-item class="payment">
          <ion-label>Crédito</ion-label>
          <ion-checkbox
            slot="end"
            formControlName="creditoSelecionado"
            aria-label="Crédito"
          ></ion-checkbox>
        </ion-item>
        <ion-item
          *ngIf="vendaForm?.get('creditoSelecionado')?.value"
          class="payment-input"
        >
          <ion-input
            type="number"
            placeholder="Valor no Crédito"
            formControlName="valorCredito"
          ></ion-input>
        </ion-item>

        <ion-item class="payment">
          <ion-label>Cartão</ion-label>
          <ion-checkbox
            slot="end"
            formControlName="cartaoSelecionado"
            aria-label="Cartão"
          ></ion-checkbox>
        </ion-item>
        <ion-item
          *ngIf="vendaForm?.get('cartaoSelecionado')?.value"
          class="payment-input"
        >
          <ion-input
            type="number"
            placeholder="Valor no Cartão"
            formControlName="valorCartao"
          ></ion-input>
        </ion-item>
      </div>

      <ion-button expand="block" type="submit" (click)="cadastrarVenda()"
        >Registrar Venda</ion-button
      >
    </form>
  </ion-card>
</ion-content>
