<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Relatório de Despesas e Receitas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Selecione o Mês</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-select label="Mês:" placeholder="Selecione o mês">
          <ion-select-option value="1">Janeiro</ion-select-option>
          <ion-select-option value="2">Fevereiro</ion-select-option>
          <ion-select-option value="3">Março</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Janeiro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Descrição: Vendas de Materiais </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Quantidade: 0 </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Data: 10/10/2010</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Valor: R$100.000,00</ion-label>
      </ion-item>
    </ion-card-content>

    <ion-card-content>
      <ion-item>
        <ion-label>Descrição: Aluguel de Equipamentos </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Quantidade: 2 </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Data: 11/10/2010</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Valor: R$5.000,00</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
