<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Encerrar Caixa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Caixa 01 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Dados do Caixa - 10/10/2010</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Status: fechado</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Saldo em Pix: R$ 1.000,00</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Saldo em Cartão: R$ 1.000,00</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Saldo em Dinheiro: R$ 1.000,00</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Saldo em Crédito: R$ 1.000,00</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Total do Dia: R$ 4.000,00</ion-label>
      </ion-item>
    </ion-card-content>
    <ion-button expand="block" [disabled]="true"> Encerrar Caixa </ion-button>
  </ion-card>

  <!-- Caixa 02 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Dados do Caixa - 11/10/2010</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Status: aberto</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Saldo em Pix: R$ 2.000,00</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Saldo em Cartão: R$ 2.000,00</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Saldo em Dinheiro: R$ 2.000,00</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Saldo em Crédito: R$ 2.000,00</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Total do Dia: R$ 8.000,00</ion-label>
      </ion-item>
    </ion-card-content>
    <ion-button expand="block"> Encerrar Caixa </ion-button>
  </ion-card>

  <!-- Caixa 03 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Dados do Caixa - 12/10/2010</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Status: aberto</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Saldo em Pix: R$ 2.000,00</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Saldo em Cartão: R$ 2.000,00</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Saldo em Dinheiro: R$ 2.000,00</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Saldo em Crédito: R$ 2.000,00</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Total do Dia: R$ 8.000,00</ion-label>
      </ion-item>
    </ion-card-content>
    <ion-button expand="block"> Encerrar Caixa </ion-button>
  </ion-card>
</ion-content>
