<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Faça o seu Login</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="fazerLogin()">
          <ion-item>
            <ion-input
              label="CPF"
              formControlName="cpf"
              type="text"
              placeholder="Digite seu CPF"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              label="Senha"
              formControlName="senha"
              [type]="showPassword ? 'text' : 'password'"
              placeholder="Digite sua senha"
            ></ion-input>
            <ion-button
              fill="clear"
              slot="end"
              (click)="showPassword = !showPassword"
            >
              <img
                [src]="showPassword ? 'assets/icon/visivel.png' : 'assets/icon/olho.png'"
                alt="Toggle password visibility"
              />
            </ion-button>
          </ion-item>

          <ion-button expand="block" type="submit">Entrar</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
