ion-card {
  margin-top: 1.25rem;
}

// Titulo do Card
ion-card-title {
  text-align: center;
  margin: 1.25rem auto;
}

// Botão de Cadastrar
ion-button {
  margin: 2.5rem auto 0 auto;
  width: 70%;
}

// Ver senha
ion-item ion-button {
  max-width: 2.5rem;
  height: auto;
  margin: .625rem auto auto auto;
}

ion-button img {
  max-width: 1.75rem;
  height: auto;
}

ion-header {
  background-color: #3880ff;
}

ion-toolbar {
  --background: ##3880ff;
}

ion-title,
ion-back-button {
  color: white;
}

ion-card {
  background: #d4d4d4;
}

ion-item {
  padding-bottom: 2.5rem;
}

ion-button {
  margin-bottom: 100%;
}
