<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Buscar Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Digite o Nome do Cliente"></ion-searchbar>

  <!-- Cliente 01 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Maria da Silva Marques</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="text">
        <p>CPF: 123.345.678-90</p>
        <p>Telefone: 912345678</p>
        <p>Carro Principal: JOB3219</p>
        <p>Crédito Disponível: 5.000</p>
      </div>

      <ion-button
        class="button-right"
        fill="outline"
        (click)="navegarPara('editar-cliente')"
        >Editar</ion-button
      >
    </ion-card-content>
  </ion-card>

  <!-- Cliente 02 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>João Santos dos Anjos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="text">
        <p>CPF: 123.345.678-90</p>
        <p>Telefone: 912345678</p>
        <p>Carro Principal: JOB3219</p>
        <p>Crédito Disponível: 0</p>
      </div>

      <ion-button fill="outline" (click)="navegarPara('editar-cliente')"
        >Editar</ion-button
      >
    </ion-card-content>
  </ion-card>

  <!-- Cliente 03 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lucas da Silva Marques</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="text">
        <p>CPF: 123.345.678-90</p>
        <p>Telefone: 912345678</p>
        <p>Carro Principal: JOB3219</p>
        <p>Crédito Disponível: 1.000</p>
      </div>

      <ion-button
        class="button-right"
        fill="outline"
        (click)="navegarPara('editar-cliente')"
        >Editar</ion-button
      >
    </ion-card-content>
  </ion-card>

  <!-- Cliente 04 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Luis Santos dos Anjos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="text">
        <p>CPF: 123.345.678-90</p>
        <p>Telefone: 912345678</p>
        <p>Carro Principal: JOB3219</p>
        <p>Crédito Disponível: 500</p>
      </div>

      <ion-button fill="outline" (click)="navegarPara('editar-cliente')"
        >Editar</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
