ion-card {
  margin-top: 1.25rem;
}

ion-card-title {
  text-align: center;
}

// Botão de Cadastrar
ion-button {
  margin: 2.5rem auto 0 auto;
  width: 70%;
}


h2{
  color: black;
  margin-left: 15px;
}