<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Débitos dos Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Lista de débitos dos clientes -->
  <ion-searchbar placeholder="Digite o Nome do Cliente"></ion-searchbar>
  <ion-list>
    <!-- Cliente 1 -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>João da Silva</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h2>Total a pagar: R$ 1000,00</h2>
        <!-- Campo para inserir o valor do pagamento -->
        <ion-item>
          <ion-input
            type="number"
            min="0"
            step="0.01"
            label="Valor do Pagamento"
          ></ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <!-- Botão Pago -->
            <ion-button expand="full" (click)="confirmarPagamento()"
              >Pagar</ion-button
            >
          </ion-col>
          <ion-col>
            <!-- Botão Imprimir -->
            <ion-button expand="full">Imprimir</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <!-- Cliente 2 -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Paulo da Silva</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h2>Total a pagar: R$ 1000,00</h2>
        <!-- Campo para inserir o valor do pagamento -->
        <ion-item>
          <ion-input
            type="number"
            min="0"
            step="0.01"
            label="Valor do Pagamento"
          ></ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <!-- Botão Pago -->
            <ion-button expand="full" (click)="confirmarPagamento()"
              >Pagar</ion-button
            >
          </ion-col>
          <ion-col>
            <!-- Botão Imprimir -->
            <ion-button expand="full">Imprimir</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <!-- Cliente 3 -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Maria da Silva</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h2>Total a pagar: R$ 1000,00</h2>
        <!-- Campo para inserir o valor do pagamento -->
        <ion-item>
          <ion-input
            type="number"
            min="0"
            step="0.01"
            label="Valor do Pagamento"
          ></ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <!-- Botão Pago -->
            <ion-button expand="full" (click)="confirmarPagamento()"
              >Pagar</ion-button
            >
          </ion-col>
          <ion-col>
            <!-- Botão Imprimir -->
            <ion-button expand="full">Imprimir</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <!-- Cliente 4 -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Matheus da Silva</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h2>Total a pagar: R$ 1000,00</h2>
        <!-- Campo para inserir o valor do pagamento -->
        <ion-item>
          <ion-input
            type="number"
            min="0"
            step="0.01"
            label="Valor do Pagamento"
          ></ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <!-- Botão Pago -->
            <ion-button expand="full" (click)="confirmarPagamento()"
              >Pagar</ion-button
            >
          </ion-col>
          <ion-col>
            <!-- Botão Imprimir -->
            <ion-button expand="full">Imprimir</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
