<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Relatório de Vendas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Cliente 01  -->
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Data da Compra: 11/10/2010</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Nome do Cliente: João</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Placa do Carro: NBR8754</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Tipo: Toco</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Material: Areia Média</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Total: R$ 5.000,00</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Forma de Pagamento: Crédito</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Clinete 02 -->
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Data da Compra: 10/10/2010</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Nome do Cliente: João</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Placa do Carro: NBR8754</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Tipo: Track</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Material: Areia Média</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Total: R$ 3.000,00</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Forma de Pagamento: Pix</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
