<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Despesas e Registros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <form [formGroup]="despesaForm" (ngSubmit)="cadastrarDespesa()">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Preencha os Dados Abaixo</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <!-- Input de Nome  -->
          <ion-item>
            <ion-input
              label="Descrição"
              formControlName="descricao"
              placeholder="Digite uma Descrição"
            ></ion-input>
          </ion-item>

          <!-- Input de Quantidade  -->
          <ion-item>
            <ion-input
              label="Quantidade"
              formControlName="quantidade"
              placeholder="Digite a Quantidade"
            ></ion-input>
          </ion-item>

          <!-- Input de Data  -->
          <ion-item>
            <ion-input
              [(ngModel)]="dataAtual"
              label="Data da Compra"
              formControlName="dataAtual"
              placeholder="Data da Compra"
            ></ion-input>
          </ion-item>

          <!-- Input de Valor -->
          <ion-item>
            <ion-input
              label="Valor"
              formControlName="valor"
              placeholder="R$"
            ></ion-input>
          </ion-item>

          <!-- Botão de Cadastrar  -->
          <ion-button expand="block" type="submit"
            >Cadastrar Despesas</ion-button
          >
        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>
