<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Preencha os Dados Abaixo</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="clienteForm" (ngSubmit)="editarCliente()">
        <ion-item>
          <ion-input
            type="text"
            formControlName="nome"
            label="Nome do Cliente"
            placeholder="Maria da Silva Marque"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            type="text"
            formControlName="cpfCnpj"
            label="CPF/CNPJ"
            placeholder="123.345.678-90"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            type="text"
            formControlName="telefone"
            label="Telefone"
            placeholder="912345678"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-select formControlName="carroPrincipal" label="Veiculo Principal">
            <ion-select-option value="carro1">JZG9447</ion-select-option>
            <ion-select-option value="carro2">HZV8912</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-button expand="full" type="submit">Salvar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
