<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Menu </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Menu com os botões de ações que levam para elas -->
  <div class="container">
    <!-- Botão de cadastrar veiculos   -->
    <ion-button expand="block" (click)="navegarPara('cadastrar-veiculos')"
      >Cadastrar Veiculos</ion-button
    >

    <!-- Botão de cadastrar clientes   -->
    <ion-button expand="block" (click)="navegarPara('cadastrar-cliente')"
      >Cadastrar Clientes</ion-button
    >

    <!-- Botão de Encerrar Caixa   -->
    <ion-button expand="block" (click)="navegarPara('encerrar-caixa')"
      >Encerrar Caixa</ion-button
    >

    <!-- Botão de Relatório de Vendas  -->
    <ion-button expand="block" (click)="navegarPara('relatorio-vendas')"
      >Relatório de Vendas</ion-button
    >
    <!-- Botão de Despesas e Receitas  -->
    <ion-button expand="block" (click)="navegarPara('despesa-receita')"
      >Relatório de Despesas e Receitas</ion-button
    >
  </div>
</ion-content>
