<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Menu </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Menu com os botões de ações que levam para elas -->
  <div class="container">
    <!-- Botão de cadastrar veiculos   -->
    <ion-button expand="block" (click)="navegarPara('cadastrar-veiculos')">
      <img src="assets/icon/carro.png" slot="start" />
      Registrar Veiculos</ion-button
    >

    <!-- Botão de Encerrar Caixa   -->
    <ion-button expand="block" (click)="navegarPara('encerrar-caixa')">
      <img src="assets/icon/caixa.png" slot="start" />
      Encerrar Caixa</ion-button
    >

    <!-- Botão de cadastrar clientes   -->
    <ion-button expand="block" (click)="navegarPara('cadastrar-cliente')">
      <img src="assets/icon/cliente.png" slot="start" />
      Registrar Clientes</ion-button
    >

    <!-- Botão de Cadastro de Vendas  -->
    <ion-button expand="block" (click)="navegarPara('cadastro-vendas')">
      <img src="assets/icon/distintivo.png" slot="start" />
      Registrar Vendas</ion-button
    >

    <!-- Botão de Relatório de Vendas  -->
    <ion-button expand="block" (click)="navegarPara('relatorio-vendas')"
      ><img src="assets/icon/aumentar.png" slot="start" /> Relatório de
      Vendas</ion-button
    >

    <!-- Botão de Cadatrar Despesas  -->
    <ion-button expand="block" (click)="navegarPara('cadastrar-despesas')"
      ><img src="assets/icon/carteira.png" slot="start" /> Registrar Despesas e
      Receitas</ion-button
    >

    <!-- Botão Procurar Clientes  -->
    <ion-button expand="block" (click)="navegarPara('buscar-cliente')"
      ><img src="assets/icon/procurando.png" slot="start" /> Procurar
      Clientes</ion-button
    >

    <!-- Botão de Movimentação do Caixa  -->
    <ion-button expand="block" (click)="navegarPara('movimento-caixa')"
      ><img src="assets/icon/dinheiro.png" slot="start" /> Movimento de
      Caixa</ion-button
    >

    <!--Botão de Sair  -->
    <ion-button expand="block" color="danger" (click)="navegarPara('login')"
      ><img src="assets/icon/sair.png" slot="start" />Sair</ion-button
    >
  </div>
</ion-content>
