<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Veículos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Preencha os Dados Abaixo</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <!--Selecionar o cliente referente ao veículo -->
        <ion-item>
          <ion-select label="Selecione o Cliente:" placeholder="Cliente">
            <ion-select-option value="1">Cliente 01</ion-select-option>
            <ion-select-option value="2">Cliente 02</ion-select-option>
            <ion-select-option value="3">Cliente 03</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Input de Número da Placa do Veiculo -->
        <ion-item>
          <ion-input
            label="Número da Placa"
            labelPlacement="floating"
            placeholder="ABC1234"
          ></ion-input>
        </ion-item>

        <!--Selecionar o tipo referente ao veiculo -->
        <ion-item>
          <ion-select label="Selecione Tipo do Veículo:" placeholder="Tipo">
            <ion-select-option value="1">Toco</ion-select-option>
            <ion-select-option value="2">Truck</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Botão de cadastro -->
        <ion-button expand="block">Registrar Veículo</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
